.Results .box,
.Meaning{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

h2{
    font-size: 40px;
    text-transform: capitalize;
}

p{
    font-size: 18px;
}

.Search {
    width: 85%;
    margin: 0 auto;
}

.Search h1{
    font-size: 50px;
}
.Search .btn{
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
    border: none;
    color: white;
    transition: 0.5s;
}

.Photos img{
    width: 100%;
    border-radius: 8px;
}



