.Search section {
    background-color: white;
}

.Results .box,
.Meaning{
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h2{
    font-size: 40px;
    text-transform: capitalize;
}

p{
    font-size: 18px;
}