
.Results .box,
.Meaning{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2{
    font-size: 40px;
    text-transform: capitalize;
}

p{
    font-size: 18px;
}